<%- include("header"); -%>
<h1>About</h1>
<p>This is a To Do List website created by Franco Santos using Node, Express, Body-parser, EJS template, EJS layout, and running at nodemon</p>
<%- include("footer"); -%>